.claim-container {
    padding-bottom: 30px;
    .img-box {
      width: 90px;
      background: #615dfa;
      border-radius: 8px;
      height: 55px;
    }
    .ant-card-body {
      width: 100%;
    }
    .clime-card {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .link {
        color: black;
      }
    }
  }