.claim-container {
  padding-bottom: 30px;

  .ant-card-body{
    @media screen and (max-width:900px){
      padding:10px;
    }
  }

  .claim-card-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .claim-section {
      margin: 10px;
      display: flex;

  

      @media screen and (max-width: 900px) {
        margin: 10px 2px;
      }
    }

    .source-and-trending-counter{
      flex-grow: 1;
      justify-content: space-between;
    }

    .img-title-description {
      .img-box {
        width: 60px;
        height: 60px;
        background: #615dfa;
        border-radius: 8px;
        height: 55px;
      }
      .link {
        color: black;
      }
    }

    .source {
      margin: auto 10px;
    }
    .trending-counter {
      flex-grow: 0;
    }
  }
}
