.app-header {
  display: flex;
  align-items: center;
  background-color: "#615dfa" !important;
  position: relative;

  @media screen and (max-width: 900px) {
    justify-content: space-between;
    padding-right: 20px;
  }

  .app-title {
    // margin-right: 26px;
    color: #fff;
    font-family: Titillium Web, sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;

    img {
      width: 7rem;
      transform: translate(-5px, -3px);
    }
  }

  .header-menu {
    padding-top: 10px;
    display: flex;
    color: white;

    @media screen and (max-width: 900px) {
      position: absolute;
      background-color: inherit !important;
      top: 64px;
      right: -210px;
      display: flex;
      flex-direction: column;
      z-index: 9;
      padding: 10px;
      // transform: translateX(210px);
      // transition: 1s;
    }
  }
  .header-menu-active {
    animation: slide-left 0.2s forwards;
  }

  .header-menu-inactive{
    animation: slide-right 0.2s forwards;
  }

  .slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(-0.25, -0.46, -0.45, -0.94) both;
    animation: slide-right 0.5s cubic-bezier(-0.25, -0.46, -0.45, -0.94) both;
  }

  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-210px);
      transform: translateX(-210px);
    }
  }
}

// .menu-main-item-link {
//   padding: 0 24px;
//   display: block;
//   color: white !important;
//   font-size: 1rem;
//   font-weight: 600;
//   //   line-height: 80px;
//   cursor: pointer;
//   transition: color 0.2s ease-in-out;
//   text-decoration: none;
//   .icon-dots {
//     transition: fill 0.2s ease-in-out;
//   }
// }

// .menu-main-item-link {
//   .menu-main-item-link {
//     color: #615dfa;

//     .icon-dots {
//       fill: #615dfa;
//     }
//   }
// }
