.claim-details {
  .claim-timeline {
    margin-left: 45px;
    .claim-timeline-item {
      .claim-button-tags {
        padding: 15px;

        .btn-custom {
          margin-right: 10px;
          background-color: #23d2e2;
          border: none;
          padding: 10px 20px;
          color: white;
          border-radius: 15px;
        }
      }
    }
  }
}
