.d-f-card-container {
  margin-bottom: 30px;

  .submit-button-container {
    display: flex;
    justify-content: flex-end;
    .submit-button {
      background: #23d2e2;
      border: #23d2e2;
      margin: 10px 0;
      border-radius: 10px;
      padding: 0px;
      width: 120px;
      font-weight: 500;
      height: 40px;
    }
  }
}
