.relevant-sources {
  @media screen and (max-width: 400px) {
    .ant-collapse-header,
    .ant-collapse-content-box {
      padding: 5px 0 !important;
    }
  }

  @media screen and (max-width: 900px) {
    .ant-collapse-item {
      padding: 15px 0;
    }
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 0px;
  }

  .relevant-source-collapse {
    background-color: white;
    border: none;

    .plus-sign-container {
      position: absolute;
      right: 40px;
      top: 0px;

      @media screen and (max-width: 900px) {
        right: 30px;
      }
    }

    .ant-collapse-content {
      border-top: none;
    }

    .source-content {
      margin-left: 45px;
      border: 1px solid #d9d9d9;
      border-radius: 25px;
      padding: 10px 20px;
      position: relative;

      @media screen and (max-width: 900px) {
        margin-left: 20px;
      }

      .source-content-header-guide {
        color: #d9d9d9;
        position: absolute;
        top: -12px;
        background-color: white;
        margin: 0 5px;
        padding: 0 10px;
      }

      p {
        margin-top: 10px;
      }
    }
  }
}
