.claim-details-container {
  .ant-card-type-inner .ant-card-body {
    // padding: 0 !important;
  }
  .ant-collapse {
    background-color: none !important;
    border: none !important;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: 3px solid #d9d9d9;
  }
  .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    right: 16px !important;
    left: initial;
  }
  .ant-collapse-content {
    border: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background: white;
    padding-left: 0px;
  }
}
