.app-header {
  display: flex;

  align-items: center;
  background-color: '#615dfa' !important;
  .app-title {
    margin-right: 26px;
    color: #fff;
    font-family: Titillium Web, sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.header-menu {
  background-color: 'transparent';
  color: white;
}

// .menu-main-item-link {
//   padding: 0 24px;
//   display: block;
//   color: white !important;
//   font-size: 1rem;
//   font-weight: 600;
//   //   line-height: 80px;
//   cursor: pointer;
//   transition: color 0.2s ease-in-out;
//   text-decoration: none;
//   .icon-dots {
//     transition: fill 0.2s ease-in-out;
//   }
// }

// .menu-main-item-link {
//   .menu-main-item-link {
//     color: #615dfa;

//     .icon-dots {
//       fill: #615dfa;
//     }
//   }
// }
