.claim-details {
  .ant-timeline-item {
    flex-wrap: wrap;
  }

  .claim-buttons-tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 900px) {
      margin-top: 10px;
    }

    @media screen and (max-width:400px){
      
      .plus-sign-container {
        line-height: 1;
        position: absolute;
        right: 0;
        bottom:5px;
      }
    }
  }

  .custom-button-claim-details {
    margin-top: 10px;
    

    @media screen and (max-width: 900px) {
      font-size: 0.8rem !important;
    }

    @media screen and (max-width: 400px) {
      border: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
      position:relative;


      .divider {
        display: none;
      }
      span:first-of-type {
        padding-right: 10px;
        margin-bottom: 4px;
      }
      span:nth-of-type(2) {
        font-style: italic;
      }
    }
  }
}
