.claim-form-header {
  display: flex;
  flex-wrap: wrap;

  div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .claim-maker{

    @media screen and (max-width:400px){
      flex-basis: 200px;
      line-height: 1;
      
    }
  }

  .claim-form-header-counter { 
    p {
      margin: auto;
      text-align: center;
    }
  }

  .claim-dates-made-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 900px) {
      font-size: 0.75rem;
      justify-content: flex-start;
      margin-left: 15px;
    }

    .claim-date-made {
      flex-direction: row;
      align-items: center;
      span {
        padding-right: 5px;
        margin-bottom: 4px;
      }
    }
  }
}
