.page-container {
  width: 85%;
  margin: auto;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  padding: 20px;
}

/* @media screen and (min-width: 1800px) {
  .page-container {
    width: 65%;
  }
} */

@media screen and (min-width: 1500px) {
  .page-container {
    width: 75%;
  }
  * {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .page-container {
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 450px){
  * {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) and (max-height:500px){
  * {
    font-size: 13px;
  }
}
