.page-container {
  width: 75%;
  margin: auto;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  padding: 20px;
}

@media screen and (min-width: 1800px) {
  .page-container {
    width: 65%;
  }
}

@media screen and (max-width: 1500px) {
  .page-container {
    width: 95%;
  }
}