.trending-count-container {
  margin: auto 0;
  display: flex;
  .trend-icon {
    font-size: 1.5rem;
    color: #908e8e;
    padding: 6px;
  }
  .trend-count {
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
  }
  .icon-filled {
    color: #23d2e2;
  }
}
