.comment-container {
  margin: 10px 0 0 8%;
  

  .comment-content{
    display: flex;
    justify-content: space-between;
    
    @media screen and (max-width:900px){
      flex-direction: column;
    }

    .comment-text{
      padding: 0 10px 3px 0; 
    }
    .comment-trending-counter{

    }
  }
  
}
